[submodule "agent/tools/web_search/gfwlist"]
	path = agent/tools/web_search/gfwlist
	url = https://github.com/gfwlist/gfwlist
[submodule "agent/tools/web_search/Sensitive-lexicon"]
	path = agent/tools/web_search/Sensitive-lexicon
	url = https://github.com/konsheng/Sensitive-lexicon
